body{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.03);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container{
    transition:all 600ms cubic-bezier(0.81,-0.12,0.64,0.99);
}
.main-box{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 400px;
    height: 60px;
    background: #ffffff;
    padding: 40px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.22);
    border-radius: 24px;
    transition: all 800 cubic-bezier(0.82,-0.02,0.2,1.18);
}
.box-content{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.box-content .text{
    position: relative;
    left: -68px;
    margin-right: 32px;
}
.text .title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #4f4f4f;
}
.text span{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    color: #4f4f4f;
}
.dots div{
    width: 6px;
    height: 6px;
    background: #4f8afe;
    margin: 3px;
    border-radius: 100%;
}
.box-content::after{
    content: "";
    opacity: 1;
    position: absolute;
    right: -60px;
    z-index: -1;
    width: 300px;
    height: 140px;
    background: #4f8afe;
    border-radius: 0 24px 24px 0;
    transition: all 700ms cubic-bezier(0.82,-0.2,0.4,1.18);
}
.main-box:hover .box-content::after{
    opacity: 1;
    position: absolute;
    z-index: -1;
    transform: translateX(120px);
}
.box-content::before{
    content: "";
    opacity: 0;
    position: absolute;
    right: -60px;
    width: 162px;
    height: 140px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTIiIGhlaWdodD0iNTciIHZpZXdCb3g9IjAgMCA5MiA1NyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3Ljc2ODkgNTZINzMuNzcyM0M4My41ODYyIDU2IDkxLjU0NDggNDguMDQxMyA5MS41NDQ4IDM4LjIyNzZDOTEuNTQ0OCAyOS40NzM4IDg1LjIxNjQgMjIuMjE4MSA3Ni44ODQgMjAuNzQ0Qzc0LjYzMTMgMTQuMTQyNSA2OC4zOTEzIDkuMzg4MDcgNjEuMDI2NiA5LjM4ODA3QzU4LjQwMDUgOS4zODgwNyA1NS45MjcgMTAuMDEwNSA1My43MTQ0IDExLjA4NjZDNTAuMzEzMyA0LjUwNTI1IDQzLjQ1ODggMCAzNS41NDQyIDBDMjQuMjQ4OSAwIDE1LjA4OTggOS4xNTkzNSAxNS4wODk4IDIwLjQ1NDRDMTUuMDg5OCAyMC41MzA3IDE1LjEwMTggMjAuNjAzIDE1LjEwMTggMjAuNjc5M0M2LjU1Njg3IDIxLjk3MjIgNi4wNzE3OGUtMDYgMjkuMzI0NiA2LjA3MTc4ZS0wNiAzOC4yMzA3Qy0wLjAwODAyNDM3IDQ4LjA0NDUgNy45NTA2OCA1NS45OTkgMTcuNzY4MyA1NS45OTlMMTcuNzY4OSA1NloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMjk0MjUgMC4yNDAzODcpIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: 45px center;
    transition: all 700ms cubic-bezier(0.82, -0.02, 0.4, 1.18);
}
.main-box:hover .box-content::before{
    opacity: 1;
    position: absolute;
    transform: translateX(120px) scale(.7);
}
.dots div{
    transition: all 500ms cubic-bezier(0.65, 0.51, 0.37, 1.02);
}
.main-box:hover .dots div:nth-child(1){
    transform: translateY(9px);
}
.main-box:hover .dots div:nth-child(2){
    transform: scale(3);
}
.main-box:hover .dots div:nth-child(3){
    transform: translateY(-9px);
}
.container:hover{
    transform: translateX(-75px);
}
.dr{
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}